.env
.venv/
__pycache__/
*.pyc
*.duckdb
*.parquet

dbt_project/target/
dbt_project/logs/
dbt_project/.user.yml

/dagster_home/

.claude

TODO.txt

logs/*
!logs/.gitkeep

quality/gx/

.ipynb_checkpoints/

notebooks/*.ipynb